[Unit]
Description=ExerciseDiary
Documentation=https://github.com/aceberg/ExerciseDiary
After=network-online.target
Wants=network-online.target

[Service]
User=%i
ExecStart=/usr/bin/ExerciseDiary -c /home/%i/.config/ExerciseDiary/config.yaml
Restart=on-failure

[Install]
WantedBy=multi-user.target