.exercise-button {    
    width: 70%;
    height: 100%;
    background-color: #00000000;
    text-align: left;
}
.exercise-button:hover {
    background-color: #0000001a;
}

.add-exercise-button {
    width: 9%;
    height: 100%;
    background-color: #00000000;
    color: var(--bs-primary);
    text-align: center;
}
.add-exercise-button:hover {
    background-color: #0000001a;
}

.del-set-button {
    /* width: 14%; */
    height: 100%;
    background-color: #00000000;
    color: var(--bs-primary);
    text-align: center;
}
.del-set-button:hover {
    background-color: #0000001a;
}

@media (max-width: 1399px) {
    .horiz-scroll {
        overflow-x: scroll;
    }
}