{{ define "config.html" }}

<body>
    <div class="container mt-5">
    <div class="row">
        <div class="col">
        <div class="card border-primary">
            <div class="card-header">Config</div>
        <div class="card-body">
        <table class="table table-borderless">
            <form action="/config/" method="post">
                <tr>
                    <td>Host</td>
                    <td><input name="host" type="text" class="form-control" value="{{ .Config.Host }}"></td>
                </tr>
                <tr>
                    <td>Port</td>
                    <td><input name="port" type="text" class="form-control" value="{{ .Config.Port }}"></td>
                </tr>
                <tr>
                    <td>Theme</td>
                    <td><select name="theme" class="form-select">
                        <option selected>{{ .Config.Theme }}</option>
                        {{ range .Themes }}
                            <option value="{{ . }}">{{ . }}</option>
                        {{ end }}
                    </select></td>
                </tr>
                <tr>
                    <td>Color mode</td>
                    <td><select name="color" class="form-select">
                        <option selected>{{ .Config.Color }}</option>
                        <option value="light">light</option>
                        <option value="dark">dark</option>
                    </select></td>
                </tr>
                <tr>
                    <td>HeatMap Color</td>
                    <td>
                        <input name="heatcolor" value="{{ .Config.HeatColor }}" type="color" class="form-control form-control-color">
                    </td>
                </tr>
                <tr>
                    <td><button type="submit" class="btn btn-primary">Save</button></td>
                    <td></td>
                </tr>
            </form>
        </table>
        </div>
        </div>
        </div>
        <div class="col">
            <div class="card border-primary">
                <div class="card-header">About</div>
            <div class="card-body">
            </div>
            </div>
        </div>
    </div>
    </div>
        

{{ template "footer.html" }}
{{ end }}