{{ define "header.html"}}

<!DOCTYPE html>
<html lang="en" data-bs-theme="{{ .Config.Color }}">
<head>
    <title>Exercise Diary</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--Favicon-->
    <link rel="icon" type="image/x-icon" href="/public/favicon.ico">
    <!-- <link href="data:image/x-icon;base64, {{ .Config.Icon }}" rel="icon" type="image/x-icon" /> -->
    <!-- Font for icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.css">
    <!-- Bootstrap and theme -->
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootswatch@5.3.0/dist/{{ .Config.Theme }}/bootstrap.min.css" rel="stylesheet"> -->
    <link href="https://cdn.jsdelivr.net/gh/aceberg/aceberg-bootswatch-fork@v5/dist/{{ .Config.Theme }}/bootstrap.min.css" rel="stylesheet">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-primary">
    <div class="container">
        <ul class="navbar-nav">
            &nbsp;&nbsp;
            <li class="nav-item">
                <a class="nav-link active" href="/">
                    <img src="data:image/png;base64, {{ .Config.Icon }}" width="30"/>
                </a>
            </li>
            &nbsp;&nbsp;
            <li class="nav-item dropdown">
                <a class="nav-link active dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                    <i class="bi bi-list"></i>
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/config/">Config</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="/exercise/">Exercise List</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" target="_blank" href="https://github.com/aceberg/ExerciseDiary">About</a></li>
                </ul>
            </li>
    </div>
    </nav>
{{ end }}