{{ define "index.html" }}
</head>
<body>
<br>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="accordion">
                {{ range $gr, $grID := .GroupMap }}
                <div class="accordion-item border-primary">
                    <h2 class="accordion-header">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#{{ $grID }}" aria-expanded="false" aria-controls="{{ $grID }}">
                        {{ $gr }}
                      </button>
                    </h2>
                    <div id="{{ $grID }}" class="accordion-collapse collapse">
                      <div class="accordion-body">
                        {{ range $.ExData.Exs }}
                        {{ if eq .Group $gr }}
                            <p>{{ .Name }}</p>
                        {{ end }}
                        {{ end }}
                      </div>
                    </div>
                  </div>
                {{ end }}              
              </div>
        </div>
        <div class="col">
            <div class="card border-primary">
                <div class="card-header">Today</div>
                <div class="card-body">
                  <h4 class="card-title">Primary card title</h4>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.
                    Some quick example text to build on the card title and make up the bulk of the card's content.
                    Some quick example text to build on the card title and make up the bulk of the card's content.
                  </p>
                </div>
            </div>
        </div>
    </div>
</div>
{{ template "footer.html" }}
{{ end }}