{{ define "index.html" }}
</head>
<script src="./fs/public/js/index.js"></script>
<link rel="stylesheet" type="text/css" href="./fs/public/css/index.css" />
<body onload='setFormDateSets({{ .ExData.Sets }})'>
<br>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="accordion">
                {{ range $gr, $grID := .GroupMap }}
                <div class="accordion-item border-primary">
                    <h2 class="accordion-header">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#{{ $grID }}" aria-expanded="false" aria-controls="{{ $grID }}">
                        {{ $gr }}
                      </button>
                    </h2>
                    <div id="{{ $grID }}" class="accordion-collapse collapse">
                      <div class="accordion-body">
                        {{ range $.ExData.Exs }}
                        {{ if eq .Group $gr }}
                        <div class="d-grid gap-2 d-md-block">
                            <a href="/exercise/?id={{ .ID }}"><button class="btn add-exercise-button" title="Edit">
                              <i class="bi bi-pencil-square"></i>
                            </button></a>
                            <!-- Button trigger modal -->
                            <button class="btn add-exercise-button" title="Show details" data-bs-toggle="modal" data-bs-target="#modal{{ .ID }}">
                              <i class="bi bi-window-desktop"></i>
                            </button>
<!-- Modal -->
<div class="modal" id="modal{{ .ID }}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Exercise details</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"></span>
        </button>
      </div>
      <div class="modal-body">
        <div class="col">
          <p>Description: {{ .Descr }}</p>
          <p>Weight (default): {{ .Weight }}</p>
          <p>Reps (default): {{ .Reps }}</p>
        </div>
        <div class="col">
          <img src="{{ .Image }}" style="max-width: 100%;max-height: 100%;"></img>
        </div>
      </div>
    </div>
  </div>
</div>
                            <button class="btn exercise-button" onclick='addExercise("{{ .Name }}", "{{ .Weight }}", "{{ .Reps }}")' title="Weight: {{ .Weight }}; Reps (default): {{ .Reps }};">{{ .Name }}</button>
                            <button class="btn add-exercise-button" onclick='addExercise("{{ .Name }}", "{{ .Weight }}", "{{ .Reps }}")' title="Add">
                                <i class="bi bi-arrow-right-square"></i>
                            </button>
                        </div>
                        {{ end }}
                        {{ end }}
                      </div>
                    </div>
                  </div>
                {{ end }}              
              </div>
        </div>
        <div class="col">
            <div class="card border-primary">
                <!-- <div class="card-header">Today</div> -->
                <div class="card-body">
                  <form action="/set/" method="post" name="sets">
                    <input name="date" type="date" class="m-auto form-control" onchange='setFormDateSets({{ .ExData.Sets }})' id="formDate" style="width: 40%;">
                  <table class="table table-borderless">
                    <thead>
                        <th style="width: 60%;">Name</th>
                        <th>Weight</th>
                        <th>Reps</th>
                        <th></th>
                    </thead>
                    <tbody id="todayEx"></tbody>
                  </table>
                  <button type="submit" class="btn btn-primary">Save</button>
                </form>
                </div>
            </div>
        </div>
    </div>
</div>
{{ template "footer.html" }}
{{ end }}